#div{
    height: 70px;
    border: 3px solid red;
    padding: 10;
}
#text{
padding-left: 50px;
padding-top: 10px;
font-weight:bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
    margin: 0px;
}